body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

header {
  background: #222;
  color: white;
  padding: 15px;
}

.arabe {
  font-size: 50px;
  direction: rtl;
  font-weight: bold;
}

.card {
  background: white;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

.letra {
  display: inline-block;
}

.fatha { color: blue; }
.kasra { color: green; }
.damma { color: red; }
.sukun { color: gray; }
.shadda { color: purple; }
