body {
  font-family: Arial;
  text-align: center;
}

.arabe {
  font-size: 60px;
  direction: rtl;
  font-weight: bold;
}

/* HARAKAT COLORES (FORZADOS) */
.fatha { color: blue !important; }
.kasra { color: green !important; }
.damma { color: red !important; }
.sukun { color: gray !important; }
.shadda { color: purple !important; }

.card {
  background: #f4f4f4;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
