body {
  font-family: Arial;
  background: url("https://i.imgur.com/8Km9tLL.jpg");
  background-size: cover;
  text-align: center;
}

.overlay {
  background: rgba(255,255,255,0.9);
  padding: 20px;
}

.arabe {
  font-size: 55px;
  font-weight: bold;
  direction: rtl;
}

.harakat {
  color: red;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.fatha { color: blue; }
.kasra { color: green; }
.damma { color: red; }
.sukun { color: gray; }
.shadda { color: purple; }
